<h1>The Blue Robin project</h1>
  <div class="container">
  <p><strong>The application can be found <%= link_to 'here (mybluerobin.com)', "http://mybluerobin.com/" , :target => "_blank" %> or <%= link_to 'here (direct link)', "http://bluerobin2.herokuapp.com/", :target => "_blank" %>.</strong></p> <br/>
    <div class="row">
      <div class="span9">
      <%= render "my_tasks" %>
      <hr />
      <% if @tickets.present? %>
        <%= render "latest_tickets" %>
      <% end %>
      </div>
      <div class="span3">
        <h4>Upcoming Milestone</h4>
          <% @milestones.each do |milestone| %>
            <%= link_to milestone.deliverable, milestone %> (<%= milestone.finished_by.strftime("%d %b %Y") unless milestone.finished_by.nil? %>)
          <% end %>
        <h4>Current App Version</h4>
          <% @versions.each do |version| %>
            <%= link_to version.title, version %> (Since: <%= version.deployed_at.strftime("%d %b %Y") unless version.deployed_at.nil? %>)
          <% end %>
      </div>
    </div>
  </div>
